*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.background{
    width: 100%;
    height: 400px;
    background-color: rgb(102,187,158);

}
.nav{
    width: 100%;
    height: 30px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}

.nav ul{
    /* width: -40px; */
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav button{
width: 60px;
border-radius: 5px;
background: transparent;
border: 1px solid white;
height: 30px;
margin-left: 10px;
}

.center h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-weight: bolder;
    padding-top: 100px;


}

.box{
    position: relative;
    top: 50%;
    left:10% ;
    display: flex;
    margin-left: 80px;
}
.box1{
    width: 300px;
    height: 300px;
    background-image: url(./elephant\ 3d\ model.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
    /* position: relative; */
    margin-right: 10px;
    font-weight: 500;
}
.box2{
    width: 300px;
    height: 300px;
    background-image: url(./schematic\ village.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
    /* position: relative; */
    margin-right: 10px;
    font-weight: 500;
}
.box3{
    width: 300px;
    height: 300px;
    background-image: url(./images.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
    /* position: relative; */
    font-weight: 500;
}
.input input{
    width: 830px;
    height: 60px;
    margin-top: 200px;
    margin-left: 250px;  
    border-radius: 10px;
}
.white{
    height: 55vh;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    width: 20%;
}

.right{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    width: 13%; 
}